<button class="btn btn-info d-flex justify-content-center text-white mt-3" style="margin: auto;" (click)="addNode()">Add Node</button>

<div class="p-4">
  <div class="mx-auto border-rounded bg-dark text-white p-2">

  <div *ngFor="let row of matrix; let y=index;" style="margin-top: 10px;">
    <span (click)="toggleItem(y,x)" style="margin-right: 10px; cursor: pointer;"
    class="mx-auto px-3"
    *ngFor="let item of row; let x=index;">
      {{item}}
    </span>
  </div>
  </div>

</div>


<button (click)="sendMatrix()" class="btn btn-dark d-flex justify-content-center text-white mx-auto" style="margin-top: 30px;">Calculate</button>
